{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>XXXX</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="XXXX">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@thejqs">
        <meta name="twitter:title" content="XXXX">
        <meta name="twitter:description" content="XXXX">
        <meta name="twitter:image" content="ABSOLUTE PATH TO IMAGE">
        <meta property="og:url" content="PROJECT URL">
        <meta property="og:site_name" content="NAME.">
        <meta property="og:type" content="article">
        <meta property="article:author" content="https://www.facebook.com/thejqs">
        <meta property="og:title" content="PROJECT TITLE">
        <meta property="og:description" content="LONGER THAN TWO SENTENCES">
        <meta property="og:image" content="{% static 'img/RELATIVE IMAGE PATH' %}">

        <link rel="stylesheet" href="{% static 'css/PROJECT.css' %}" type="text/css">

        {% block head %}
        {% endblock %}

        {# for example: #}
{#         <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald|Merriweather:400,700|Arvo:400,700|Rokkitt|Cabin+Sketch|Bitter|Sanchez|Amatic+SC|Slabo+27px|Raleway|Josefin+Sans">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  #}
    </head>

        {% block content %}
        {% endblock %}
        {# if jquery is necessary: #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static 'js/PROJECT.js' %}"></script>
    </body>
</html>